// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  border: 1px solid #dedede;
  margin-bottom: 10px;
  border-radius: 5px;

  .alert {
    margin: 10px;
  }

  .contents {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    padding-bottom: 10px;

    time {
      font-size: 75%;
      font-style: italic;
    }
  }

  .in-reply-to {
    font-size: 85%;
  }
}

.new_post textarea {
  width: 50%;
  min-height: 250px;
}